@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">فشل تسجيل الدخول </h1>
    <p class="text-danger">هذا الحساب توقف بشكل مؤقت حاول إعادة تععين كلمة المرور بعد 30دقيقة .</p>
</header>
