@model LoginTredMarktViewModel

@* <div class="container">
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="py-2 text-white"> إعادة تعيين كلمة المرور </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 offset-4">
                @if (Model?.LoginVM != null && Model.LoginVM.Emailsent == true)
                {
                    <div class="alert alert-success" role="alert">
                        <p>
                             سنرسل لك رابطًا عبر البريد الإلكتروني المدخل لإعادة تعيين كلمة المرور الخاصة بك
                        </p>
                    </div>
                }
                else
                {
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-md-12">
                                <section>
                                    <p style="text-align:center;font:bold">
                                      أدخل عنوان البريد الإلكتروني المرتبط بحسابك </p>

                                    <form id="account" method="post" enctype="multipart/form-data">

                                        <div class="form-group">
                                            <label asp-for="LoginVM.Email" class="control-label"></label>
                                            <input asp-for="LoginVM.Email" class="form-control" />
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        </div>

                                        <div>
                                            <input type="submit" asp-route-id="@LoginVM.Email" value="استمرار" class="btn btn-primary" />
                                        </div>

                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                }
              
            </div>
        </div>
    </div>
</div> *@

<div class="container">
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="py-2 text-white"> إعادة تعيين كلمة المرور </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 offset-4">
             
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-md-12">
                                <section>
                                    <p style="text-align:center;font:bold">
                                        أدخل عنوان البريد الإلكتروني المرتبط بحسابك
                                    </p>

                                    <form id="account" method="post" enctype="multipart/form-data">

                                        <div class="form-group">
                                            <label asp-for="LoginVM.Email" class="control-label"></label>
                                            <input asp-for="LoginVM.Email" class="form-control" />
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        </div>

                                        <div>
                                            <input type="submit" asp-route-id="LoginVM.Email" value="استمرار" class="btn btn-primary" />
                                        </div>

                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
              

            </div>
        </div>
    </div>
</div>