@model LoginTredMarktViewModel

<div class="container frgt">
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-white ml-0 py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="py-2 fnt-blue"> إعادة تعيين كلمة المرور </h2>
                </div>
            </div>
        </div>

        <div class="row fxcc">
            <div class="col-md-12 offset-4">

                <div class="card-body p-4">
                    <div class="row fxcc">
                        <div class="col-md-8">
                            <section class="forget-pass">

                                <form id="account" method="post" enctype="multipart/form-data" asp-controller="Forget" asp-action="setForgetPassword">
                                    <input asp-for="LoginVM.Email" value='@TempData["Email"]' hidden />

                                    <div class="form-group">
                                        <label asp-for="LoginVM.Password" class="control-label">كلمة المرور الجديدة</label>
                                        <input asp-for="LoginVM.Password" id="newPassword" class="form-control" />

                                    </div>
                                    <div class="form-group">
                                        <label asp-for="LoginVM.Password" class="control-label">تأكيد كلمة المرور </label>
                                        <input asp-for="LoginVM.Password" id="surePassword" class="form-control" />

                                    </div>
                                    <div>
                                        <input type="submit" value="إعادة تعيين" onclick="comparePasswords();" class=" btn  btn-style1 fnt-white" />
                                    </div>

                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Js/ForegetPassword/forget.js"></script>
     
     
}
