
@font-face {
    font-family: 'Almarai';
    src: local('Almarai Regular'), url('/fonts/Almarai-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Almarai';
    src: local('Almarai Light'), url('/fonts/Almarai-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Almarai';
    src: local('Almarai Bold'), url('/fonts/Almarai-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Almarai';
    src: local('Almarai ExtraBold'), url('/fonts/Almarai-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}




html {
    font-size: 14px;
}

body div.container-custom{
    max-width: 100%;
    display:flex;
    flex-direction:column;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: "Almarai";
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*margin-bottom: 60px;*/
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}




/*Generel CSS*/

/*flex column Center  */
.fxcc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
fxcl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.btn-container-style1 {
    display: flex;
    flex-direction: column;
}
.btn-style1 {
    font-family: 'Almarai', sans-serif;
    background-color: #35A8DF; /*blue*/
    /*background-color: #676869; grey*/
}

.btn-style1:hover {
        background-color: #676869;
        color: #fff;
}

.btn-style2 {
    font-family: 'Almarai', sans-serif;
    background-color: #35A8DF; /*blue*/
    /*background-color: #676869; grey*/
    color:#fff;
}

    .btn-style2:hover {
        background-color: #fff;
        border: 1px solid #35A8DF;
    }

.btn-style3 {
    color: #fff;
    background-color: rgb(103, 104, 105);
    border-color: rgb(103, 104, 105);
}
.btn-style3:hover {
    color: rgb(103, 104, 105);
    background-color: #fff;
    border-color: rgb(103, 104, 105);
}
.btn-style4 {
    color: #fff;
    background-color: rgb(103, 104, 105);
    border-color: rgb(103, 104, 105);
}

.btn-style5 {
    color: #fff;
    background-color: #ba181b;
    border-color: #d00000;
}
    .btn-style5:hover {
        color: #d00000;
        background-color: transparent;
        border-color: #d00000;
    }

    .btn-style4:hover {
        color: rgb(103, 104, 105);
        background-color: transparent;
        border-color: rgb(103, 104, 105);
    }

.bg-white{
        background-color:#ffffff;
}

.bg-grey {
    background-color: #676869;
}
.bg-blue {
    background-color: #35A8DF;
}

.bg-navbar {
    background-color: rgba(255, 255, 255, 0.85);
}


.bf-title1 {
    white-space: pre-wrap;
    overflow: visible;
    color: rgba(30, 125, 193, 1);
    font-family: 'Almarai';
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
}
.bf-logo{
    border-radius: 20px;
}
.bf-bb {
    border-bottom: 5px solid rgb(30, 125, 193);
}
/*fonts*/
.fnt-white {
    color: #ffffff;
}
.fnt-balck {
    color: #000000;
}
.fnt-blue {
    color: rgba(30, 125, 193, 1);
}
.fnt-grey {
    color: #676869;
}
.custom-row {
     --bs-gutter-x: 0; 
    --bs-gutter-y: 0;
    gap:10px;
}
/*text alignment*/
    .text-right{
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}

button.close{
    padding:5px;
    background-color: #fff;
    font-size:48px;
    line-height:1;
    border: none;
}
.header-styling-position {
    display:flex;
    flex-direction: column;
    gap:40px;
}

/*input fields*/
form-control:focus {
    border: solid 1px #ebebeb;
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


.field-lgrey {
    background-color: #fcfcfc;
}

.modal-header {
    background-color: #fff;
    color: rgb(52, 92, 136);
    border-bottom: solid;
    border-bottom-width: 5px;
    border-bottom-color: rgb(30, 125, 193);
    font-family: 'Almarai', sans-serif;
}
    .modal-header table tbody tr.img-upload  {
        max-width: 
    }

.modal-footer {
    justify-content: center;
}

.table-style1 {
    padding: 10px 0px;
}
    .table-style1 thead {
        background: #676869;
        color: #fff;
        font-family: 'Almarai', sans-serif;
        vertical-align:middle;
    }
    /*======================= Custom CSS ============================================*/
    /*------------------Home index Page*/
    .container.login-sec {
        
        max-width: 600px !important;
    }
.login-sec .card {
        
        box-shadow: rgba(103, 104, 105, 0.8) 2px 2px 8px 4px;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
}
.login-fld:focus .login-lbl {
        display: none;
    }
login-lbl{

}
/*------------------Home userInformation Page*/
.main-container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    color: rgb(52, 92, 136);
    border-bottom: solid;
    border-bottom-width: 5px;
    border-bottom-color:  rgb(30, 125, 193);
}
.main-container .main-sec {
    display: flex;
    flex-direction: column;
    justify-content:center;

}
.main-container .welcome-name h1 {
        font-size: 20px;
        padding: 10px;
}
.main-container .welcome-name{
    width: 25%;
}
.main-container .main-sec .row {
    padding: 10px 5px;
}

    .main-container .main-sec .row a {
        color: rgb(52, 92, 136);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        justify-content: space-around;
        cursor: pointer;
    }

.last-login-div {  
    margin:0;
    padding :10px;
    font-size:16px;
    font-weight:500;
    width: 25%;
}
/*------------------Forget Password Page*/
section.forget-pass {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    section.forget-pass form#account {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


div .container.frgt {
    max-width: 600px;
}

.frgt .card-header, .login-sec .card-header {
    border-bottom-style: solid;
    border-bottom-color: #35A8DF;
    border-bottom-width: 2px;
    border-radius: 20px 20px 0 0;
}

/*nav bar */
header .navbar {
    background-color: #Fff;
    border-bottom: 3px solid;
    border-color: #35A8DF;
}

header .offcanvas-header {
    color: rgb(52, 92, 136);
    padding-bottom:0;
    padding-top: 20px;
    
}
header .offcanvas-header h4 {
    color: rgb(52, 92, 136);
    font-family: 'Almarai', sans-serif;
}

header .offcanvas-body {
    color: rgb(52, 92, 136);   
    padding-top: 0px;
}

header .navbar .nav-item .nav-link, header .navbar .nav-item .nav-link:hover {
    color: rgb(52, 92, 136);
    font-family: 'Almarai', sans-serif;
} {
    color: rgb(52, 92, 136);
    font-family: 'Almarai', sans-serif;
}

header .navbar .nav-item:hover {
    background: rgba(132, 189, 224, 0.46);
    color: rgb(52, 92, 136);
}


/*footer*/
.footer {
    display:flex;
    flex-direction: column;
    height: max-content; /* Adjust this value based on the footer height */
    /*bottom: 0;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 5px;*/
    background-color: #676869;
    color: #fff;
    gap: 5px;
    
}

    .footer .footer-container {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-content: center;
        bottom: 0;
    }
    .footer .pre-footer-container {
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-content: center;
        bottom: 0;
        border-top: 1px solid #fff;
    }
    footer .pre-footer-container .container:first-child, .footer .footer-container .container:first-child {
        text-align: right;
    }
    footer .pre-footer-container .container:nth-child(2), .footer .footer-container .container:nth-child(2) {
        text-align: left;
    }

