
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/bootstrap/dist/css/shared.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

</head>



<body>
@*     @if (ViewBag.IsAuthenticated != null && (bool)ViewBag.IsAuthenticated)
    {  // Display the MainSectionView
        <div>
            @await Html.PartialAsync("/Views/Home/MainsectionView.cshtml")
        </div>
    }
 *@




    <div class="container container-custom">
        <main role="main" class="pb-3">
            <partial name="_Notivication" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer mt-1">
        
        <div class="pre-footer-container">
            <div class="container text-center">
                <p>  الحقوق محفوظة مؤسسة الامتيازات العربية للتسويق 2024</p>
            </div>
            <div class="container text-center">
                <p>designed and built by BdoonCode</p>
            </div>
            
           
        </div>
    </footer>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

