@model LoginTredMarktViewModel

@* أول صفحة بعد تسجيل الدخول  *@
<div class="main-container" style="text-align: center;">
   <div class="welcome-name">
        <h1> مرحبا , @Model.LoginVM.Username!</h1>
    </div>

    <div class="container main-sec">
        @foreach (var item in Model.tredList)
        {
            <div class="row">
                <a href="@Url.Action("RedirectToWelcomTredMarket", "Home", new { brandId = item.BrandID })">
                    @item.BrandName
                    <img src="https://manuals.befranchisor.com/IMAGES/@(item.BrandID)/@(item.BrandLogoImage)" alt="Card image cap"
                         height="80"
                          width="70">
                </a>
            </div>
        } 
        
    </div>
 
    <div class="last-login-div"> 
        <p> اخر تسجيل للدخول كان في :  @(Model.TredMarktVM.Date.HasValue ? Model.TredMarktVM.Date.Value.ToString("dd/MM/yyyy HH:mm:ss") : "No previous login recorded")</p>
    </div>
</div>
